/* navbar */
.navbar-light .navbar-toggler-icon {
    background-image: url(../images/bars-solid.svg);

}
.navbar-light .navbar-toggler {
    color:white;
border-color:white;
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

.elementnav{
font-family: 'Barlow Condensed', sans-serif;
color:#979BA4;
font-size: 25px;
margin-left:40px;
margin-right:40px;
text-transform: uppercase;
}
.elementnav:hover{
    text-decoration: underline;
    text-decoration-color: #9677A0;
    color:#9677A0;
}
.buttoncolor{
color:#606469;
background-color: #E4D7E7;  
font-family: 'Barlow Condensed', sans-serif; 
width: 180px;
height: 50px;
font-size: 25px;
}
.buttoncolor:hover {
    background:#9677A0; 
    color:white;
    }

.logo {
    width: 130px;
    height: 35px;
    margin-left: 20px;
}

/* END ----- navbar */
.alois-cmd {
background-size: contain;
height: 550px;
background-repeat: no-repeat;
margin-top: 100px;
}
.margin-form{
    margin-top: 100px;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
/* Form*/
.titreform {
    font-family: 'Barlow Condensed', sans-serif;
    color:#9677A0;    
    text-transform: uppercase;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #979BA4;
    font-style: italic;
    font-family: 'Rasa', serif;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.text2 {
    font-family: 'Rasa', serif; 
    color:grey;
    line-height: 1.5;
    font-size: 1.2rem;
}
.text3 {
    font-family: 'Rasa', serif; 
    color:rgb(65, 64, 64);
    line-height: 1.5;
    font-size: 1.2rem;
}
.text-muted {
    color: #91979e!important;
    font-family: 'Rasa', serif; 

}
.btn-primary {
    color: #fff;
    background-color: #9677A0;  
    border-color: #9677A0; 
    font-family: 'Barlow Condensed', sans-serif; 
    text-transform: uppercase;
}
.text4{
    font-family: 'Rasa', serif; 
}
