/* navbar */
.navbar-light .navbar-toggler-icon {
    background-image: url(../images/bars-solid.svg);

}
.navbar-light .navbar-toggler {
    color:white;
border-color:white;
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

.elementnav{
font-family: 'Barlow Condensed', sans-serif;
color:#979BA4;
font-size: 25px;
margin-left:40px;
margin-right:40px;
text-transform: uppercase;
}
.elementnav:hover{
    text-decoration: underline;
    text-decoration-color: #9677A0;
    color:#9677A0;
}
.buttoncolor{
color:#606469;
background-color: #E4D7E7;  
font-family: 'Barlow Condensed', sans-serif; 
width: 180px;
height: 50px;
font-size: 25px;
}
.buttoncolor:hover {
    background:#9677A0; 
    color:white;
    }

.logo {
    width: 130px;
    height: 35px;
    margin-left: 20px;
}


/* END ----- navbar */

.yellow-background{
    background-color:#F8F0E7;
    height:600px;
}

/* homepage */

.homepage {
height: 600px;
margin-top: 100px;
   
}
.titre {
    font-family: 'Barlow Condensed', sans-serif;    
    color:#606469;
    font-size: 70px;
    text-align: left;
    text-transform: uppercase;
    
}

.sous-titre {
    color:#979BA4;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;  
    letter-spacing: 5px;
    text-transform: uppercase; 
      
}

.text {
    font-family: 'Rasa', serif;
    color:#979BA4;
    font-size: 20px;
    text-align: justify;
    line-height: 2;

  
}
/*@media screen and (min-width: 992px){
    .titre,
    .sous-titre,
    .text {
        margin-left:600px;
        margin-right:100px;
    }
    .logo{
        position:center;
    }
    .homepage{
        margin-left:100px;
    }
 
} 
*/
/* END ----- navbar */

/* à propos de nous*/
.img-entreprise {
width:500px;
height: 500px;
float:left;
}

/*NOS PRODUITS*/
.w-100 {
    width: 70%!important;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color:#9677A0;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.text-produits{
    font-family: 'Rasa', serif;
    color:#979BA4;
    font-size: 20px;
    text-align: justify;

}
.margin-produits {
    margin-top: 100px;
}
.icon-produits {
 height: 55px;
 
}
/*FAQ*/

.sous-titre2 {
    color:#979BA4;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;  
    letter-spacing: 5px;
    text-transform: uppercase;  
}

.titre2 {
    font-family: 'Barlow Condensed', sans-serif;    
    color:#606469;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #E4D7E7;
}
.text-faq {
    font-family: 'Rasa', serif;
    color:#606469;
    font-size: 18px;
    text-align: justify;
}

.btn-link {
    font-size:0.8em;
    color:white;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif; 
}
.btn-link:hover{
 color:#9677A0; 
}
.icon-faq {
    height: 30px;
    width: 30px;
}